<div class="section-page-content">
  <div class="page-header">
    <div class="page-header-h1">All our lovely pens</div>
  </div>
  <div class="section-main">
    <div class="pen-cards">
      <% @pens.each do |pen| %>
      <div class="pen-single-card">
        <% if pen.photo.attached? %>
        <%= cl_image_tag pen.photo.key, height: 150, crop: :fill, class: "card-image" %>
      <div class="pen-card-title">
        <%= link_to pen.title, pen_path(pen) %>
      </div>
      <div class="pen-card-detail">
       <%= pen.description[0, 80] ... %>
      </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
