<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1>All our lovely pens </h1>
      <ul class="list-group">
        <% @pens.each do |pen| %>
          <li class="list-group-item">
            <% if pen.photo.attached? %>
              <%= cl_image_tag pen.photo.key, height: 150, width: 250, crop: :fill %>
            <% end %>
            <%= link_to pen.title, pen_path(pen) %>
            <%= link_to "delete pen", pen_path(pen), method: :delete, class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>
      <%= link_to "Add a new pen", new_pen_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
