<div class="container">
<div class="card-product">
<% if @pen.photo.attached? %>
  <%= cl_image_tag @pen.photo.key, height: 150, width: 250, crop: :fill %>
<% end %>
<div class="card-product-infos">
<h1><%= @pen.title %></h1>
<h2><%= @pen.description %></h2>
 </div>
 <div class="boton-delete">
<%= link_to "delete pen", pen_path(@pen), method: :delete, class: 'btn btn-primary'%>
<div>
<div>
</div>
